{% extends "layout.html" %}
{% block header %}{% endblock %}
{% block content %}
<div class="container">
<div class="row">
	<div class="span3">&nbsp;</div>
	<div class="span6"><h3>{{ title }}</h3></div>
	<div class="span3">&nbsp;</div>
</div><!-- /.row -->
</div><!-- /.container -->

<div class="container">
<div class="row">
	<div class="span3">&nbsp;</div>
	<div class="span6">
		<form accept-charset="UTF-8" method="POST" class="well">
		<table width="100%">
			{% if account.passwordIsSet() %}
			<tr>
				<td><input style="width:98%;" placeholder="{{ _t( 'current password' ) }}" type="password" name="current_password" value="" /></td>
			</tr>
			{% endif %}
			<tr>
				<td><input style="width:98%;" placeholder="{{ _t( 'new password' ) }}" type="password" name="password" value="" /></td>
			</tr>
			<tr>
				<td><input style="width:98%;" placeholder="{{ _t( 'confirm new password' ) }}" type="password" name="confirm_password" value="" /></td>
			</tr>
			<tr>
				<td>
					<input style="width:22%;" class="btn btn-primary" type="submit" value="{{ _t( 'submit' ) }}" />
					{% if account.passwordIsSet() %}
					<a style="width:16%;" href="{{ url_for('profile_view', account_id=account.id ) }}" class="btn btn-danger">{{ _t( 'cancel' ) }}</a>
					{% endif %}
				</td>
			</tr>
		</table>
		</form>
	</div>
	<div class="span3">&nbsp;</div>
</div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
