{% extends "layout.html" %}
{% block content %}
<div class="container content-header">
<div class="row">
	<ul class="nav nav-pills">
	{% if account and account.id  %}
		{% if access('profile', action='update', account=account) %}
		<li class="{% if _is_active_path(url_for('profile_edit', account_id=account.id.__str__()|urlencode)) %}active{% endif %}">
			<a href="{{ url_for('profile_edit', account_id=account.id.__str__()|urlencode) }}">
				{% if access('authenticated', account=account) %}
					<span><i class="icon-edit"></i> {{ _t( 'edit profile' ) }}</span>
				{% else %}
					<span class="alert-danger"><i class="icon-exclamation-sign"></i> <i class="icon-edit"></i> {{ _t( 'edit profile' ) }}</span>
				{% endif %}
			</a>
		</li>
		
		<li class="{% if _is_active_path(url_for('profile_preferences', account_id=account.id.__str__()|urlencode)) %}active{% endif %}">
			<a href="{{ url_for('profile_preferences', account_id=account.id.__str__()|urlencode) }}">
				{% if access('authenticated', account=account) %}
					<span><i class="icon-gear"></i> {{ _t( 'profile preferences' ) }}</span>
				{% else %}
					<span class="alert-danger"><i class="icon-exclamation-sign"></i> <i class="icon-gear"></i> {{ _t( 'profile preferences' ) }}</span>
				{% endif %}
			</a>
		</li>
		
		{% if access('activity', account=employee) %}
		<li class="">
			<a href="{{ url_for('report_index', account_id=account.id.__str__()|urlencode) }}">
				{% if access('authenticated', account=account) %}
					<span><i class="icon-time"></i> {{ _t( 'reports' ) }}</span>
				{% else %}
					<span class="alert-danger"><i class="icon-exclamation-sign"></i> <i class="icon-time"></i> {{ _t( 'reports' ) }}</span>
				{% endif %}
			</a>
		</li>
		{% endif %}
		
		{% if access('masquerade', account=account) %}
		<li class="{% if _is_active_path(url_for('session_masquerade', account_id=account.id.__str__()|urlencode)) %}active{% endif %}">
			<a href="{{ url_for('session_masquerade', account_id=account.id.__str__()|urlencode) }}">
				<span class="alert-info"><i class="icon-exclamation-sign"></i> <i class="icon-user"></i> {{ _t('masquerade') }}</span>
			</a>
		</li>
		{% endif %}
		
		<li class="{% if _is_active_path(url_for('profile_password', account_id=account.id.__str__()|urlencode)) %}active{% endif %}">
			<a href="{{ url_for('profile_password', account_id=account.id.__str__()|urlencode) }}">
				{% if account.id == g.account.id %}
					<span><i class="icon-edit"></i> {{ _t( 'set password' ) }}</span>
				{% else %}
					<span class="alert-danger"><i class="icon-exclamation-sign"></i> <i class="icon-edit"></i> {{ _t( 'set password' ) }}</span>
				{% endif %}
			</a>
		</li>
		{% endif %}
		
		{% if access('profile', action='update', account=account) %}
		<li class="{% if _is_active_path(url_for('profile_delete', account_id=account.id.__str__()|urlencode)) %}active{% endif %}">
			<a href="{{ url_for('profile_delete', account_id=account.id.__str__()|urlencode) }}">
				{% if account.id == g.account.id %}
					<span class="alert alert-danger"><i class="icon-trash"></i> {{ _t( 'delete' ) }}</span>
				{% else %}
					<span class="alert alert-danger"><i class="icon-exclamation-sign"></i> <i class="icon-trash"></i> {{ _t( 'delete' ) }}</span>
				{% endif %}
			</a>
		</li>
		{% endif %}
	{% endif %}
	</ul>
</div><!-- /.row -->
</div><!-- /.container -->

{% block body %}
<div class="container">
<div class="row">
	<div class="span8">
		<form method="POST" class="well" >
			<input type="hidden" name="csrf_token" value="token" />
			
			<label for="preference_language">{{ _t('language') }}</label>
			{% for error in preferences['language'].errors %}
				{% if error.__class__.__name__ in ('list', 'tuple') and error.__len__() == 2 %}
				<p class="error"><strong>{{ _t(error[0]) }}</strong> {{ _t(error[1]) }}</p>
				{% else %}
				<p class="error">{{ _t(error) }}</p>
				{% endif %}
			{% endfor %}
			<select name="preference_language">
			{% for language in _var(scope='translation', name='languages', default='en') %}
				<option value="{{ language|json }}" {% if preferences['language'].value == language %}selected{% endif %}>{{ _t('language:'+language) }}</option>
			{% endfor %}
			</select>
			
			<br/>

			<label for="preference_floats_format">
				{{ _t('floats format') }}
			</label>
			{% for error in preferences['floats_format'].errors %}
				{% if error.__class__.__name__ in ('list', 'tuple') and error.__len__() == 2 %}
				<p class="error"><strong>{{ _t(error[0]) }}</strong> {{ _t(error[1]) }}</p>
				{% else %}
				<p class="error">{{ _t(error) }}</p>
				{% endif %}
			{% endfor %}
			<select name="preference_floats_format">
				<option value="{{ ','|json }}"
						{% if preferences['floats_format'].value == ',' %}
						selected{% endif %}>{{ _t('comma') }}</option>
				<option value="{{ '.'|json }}"
						{% if preferences['floats_format'].value == '.' %}
						selected{% endif %}>{{ _t('dot') }}</option>
			</select>

			<br/>
			
			<label for="preference_report_time_format">{{ _t('report time format') }}</label>
			{% for error in preferences['report_time_format'].errors %}
				{% if error.__class__.__name__ in ('list', 'tuple') and error.__len__() == 2 %}
				<p class="error"><strong>{{ _t(error[0]) }}</strong> {{ _t(error[1]) }}</p>
				{% else %}
				<p class="error">{{ _t(error) }}</p>
				{% endif %}
			{% endfor %}
			<select name="preference_report_time_format">
				<option value="{{ 'float'|json }}" {% if preferences['report_time_format'].value == 'float' %}selected{% endif %}>{{ _t('float') }}</option>
				<option value="{{ 'hours'|json }}" {% if preferences['report_time_format'].value == 'hours' %}selected{% endif %}>{{ _t('hours') }}</option>
			</select>
			
			<br/>
			
			{% if access('report', action='delete') %}
			<label for="preference_show_deleted_reports">{{ _t('show deleted reports') }}</label>
			{% for error in preferences['show_deleted_reports'].errors %}
				{% if error.__class__.__name__ in ('list', 'tuple') and error.__len__() == 2 %}
				<p class="error"><strong>{{ _t(error[0]) }}</strong> {{ _t(error[1]) }}</p>
				{% else %}
				<p class="error">{{ _t(error) }}</p>
				{% endif %}
			{% endfor %}
			<select name="preference_show_deleted_reports">
				<option value="{{ 0|json }}" {% if preferences['show_deleted_reports'].raw_value == '0' %}selected{% endif %}>{{ _t('hide') }}</option>
				<option value="{{ 1|json }}" {% if preferences['show_deleted_reports'].raw_value == '1' %}selected{% endif %}>{{ _t('show') }}</option>
			</select>
			
			<br/>
			{% else %}
			<input type="hidden" name="preference_show_deleted_reports" value="{{ preferences['show_deleted_reports'].raw_value }}" />
			{% endif %}
			
			<label for="preference_datepicker_multiple_days">{{ _t('datepicker multiple days') }}</label>
			{% for error in preferences['datepicker_multiple_days'].errors %}
				{% if error.__class__.__name__ in ('list', 'tuple') and error.__len__() == 2 %}
				<p class="error"><strong>{{ _t(error[0]) }}</strong> {{ _t(error[1]) }}</p>
				{% else %}
				<p class="error">{{ _t(error) }}</p>
				{% endif %}
			{% endfor %}
			<select name="preference_datepicker_multiple_days">
				<option value="{{ 0|json }}" {% if preferences['datepicker_multiple_days'].raw_value == '0' %}selected{% endif %}>{{ _t('common:no') }}</option>
				<option value="{{ 1|json }}" {% if preferences['datepicker_multiple_days'].raw_value == '1' %}selected{% endif %}>{{ _t('common:yes') }}</option>
			</select>
			
			<br/>
			
			<label for="preference_show_chinese_cookie">{{ _t('show chinese cookie') }}</label>
			{% for error in preferences['show_chinese_cookie'].errors %}
				{% if error.__class__.__name__ in ('list', 'tuple') and error.__len__() == 2 %}
				<p class="error"><strong>{{ _t(error[0]) }}</strong> {{ _t(error[1]) }}</p>
				{% else %}
				<p class="error">{{ _t(error) }}</p>
				{% endif %}
			{% endfor %}
			<select name="preference_show_chinese_cookie">
				<option value="{{ 0|json }}" {% if preferences['show_chinese_cookie'].raw_value == '0' %}selected{% endif %}>{{ _t('common:no') }}</option>
				<option value="{{ 1|json }}" {% if preferences['show_chinese_cookie'].raw_value == '1' %}selected{% endif %}>{{ _t('common:yes') }}</option>
			</select>
			
			<br/>
			
			<input type="submit" value="{{ _t('submit') }}" />
		</form>
	</div>
</div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
{% endblock %}
