{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="row">
	<a href="{{ url_for('variable_add') }}">{{ _t('add variable') }}</a>
	
	<table class="table">
		<thead>
			<tr>
				<th>{{ _t('scope') }}</th>
				<th>{{ _t('name') }}</th>
				<th>{{ _t('value') }}</th>
				<th>{{ _t('actions') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for var in varList %}
			<tr>
				<td>{{ var.scope }}</td>
				<td>{{ var.name }}</td>
				<td><pre>{{ var.value }}</pre></td>
				<td>
					<a href="{{ url_for( 'variable_edit', name=var.name|urlencode, scope=var.scope|urlencode ) }}" title="{{ _t( 'edit' ) }}">
						<i class="icon icon-edit"></i>
					</a>
					<a href="{{ url_for( 'variable_delete', name=var.name|urlencode, scope=var.scope|urlencode ) }}" title="{{ _t( 'delete' ) }}">
						 <i class="icon icon-remove"></i>
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
